.nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav__item {
    margin-left: 30px;
    font-weight: 400;
    font-size: 1.6em;
    cursor: pointer;
}

.nav__link {
    text-decoration: none;
    font-style: italic;
}

.nav__link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #E52863;
    transition: width .3s;
}

.nav__link:hover::after {
    width: 100%;
}

.active {
    border-bottom: 2px solid #E52863;
}

@media (min-width: 320px) and (max-width: 480px) {
    .nav__item {
        margin-left: 5px;
    }
}
